/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




*{
    box-sizing: border-box;
}


.gradient{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    z-index: -9998;
}


#bgImage{
    position:absolute;
    left:0;
    top:0;
    z-index: -9999;
    width: 100%;
    height: 100vh;
}

main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}

#weather {
    color: white;
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather li:first-child{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: white;
}

main #clock{
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    color: white;
    margin-top: 70px;
}

main #Login-form{
    margin-top: 30px;
    /*
    display: flex;
    align-items: center;
    */
}

main #Login-form input{
    border: none;
    background: none;
    width: 300px;
    height: 60px;
    padding: 15px 20px;
    font-size: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.8);
    color: white;
}

main #Login-form input::placeholder{
    color: rgba(255, 255, 255, 0.831);
    text-align: center;
}

main #Login-form input:hover{
    background-color: rgba(0,0,0,0.4);
}


main #Login-form input:hover::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.387);
}

main #Login-form input:focus{
    background-color: rgba(0,0,0,0.4);
    outline: none;
    color: white;
}

main #Login-form input:focus::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.387);
}

main #Login-form button{
    height: 60px;
    box-sizing: border-box;
    padding: 15px 20px;
    background: none;
    outline: none;
    border: none;
    color: rgba(255, 255, 255, 0.831);
    cursor: pointer;
    font-size: 30px;
    line-height: 0;
}

main #Login-form button:hover{
    background-color: rgba(0,0,0,0.4);
}

main #greeting{
    font-size: 40px;
    color: white;
    margin-top: 20px;
}

main #todo-form{
    font-size: 40px;
    margin-top: 30px;
}

main #todo-form input{
    border: none;
    background: none;
    width: 500px;
    height: 60px;
    padding: 15px 20px;
    font-size: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.8);
}

main #todo-form input::placeholder{
    color: rgba(255, 255, 255, 0.831);
    text-align: center;
}

main #todo-form input:hover{
    background-color: rgba(0,0,0,0.4);
}

main #todo-form input:hover::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.387);
}

main #todo-form input:focus{
    background-color: rgba(0,0,0,0.4);
    outline: none;
    color: white;
}

main #todo-form input:focus::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.387);
}

main #todo-list{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    max-width: 500px;
    max-height: 300px;
    overflow-y: scroll;
}

main #todo-list::-webkit-scrollbar{
    display: none;
}

main #todo-list li{
    margin: 5px;
    padding: 10px 5px;
    font-size: 18px;
    list-style: none;
    /*
    display: flex;
    align-items: center;
    */
}

main #todo-list li:hover{
    background-color: rgba(0,0,0,0.4);
}

main #todo-list span{
    word-break: break-all;
}

main #todo-list button{
    background: none;
    margin-right: 5px;
    outline: none;
    border: none;
    color: rgba(255, 255, 255, 0.831);
    cursor: pointer;
}

#quote{
    color: rgba(255, 255, 255, 0.745);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quote:hover{
    color: white;
}

#quote span:first-child{
    text-align: center;
    line-height: 20px;
}


#quote span:last-child{
    text-align: center;
    font-size: 14px;
    margin-top: -5px;
}


#logout {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 15px;
}

#logout button{
    border: none;
    color: white;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 10px 10px;
    font-weight: 300;
}

#logout button:hover{
    background-color: rgba(0,0,0,0.4);;
}

.hidden{
    display: none;
}